<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ectrip.client.dao.StsschecktabMapper">
  <!--批量保存数据-->
  <insert id="batchSave" parameterType="List" useGeneratedKeys="false">
    insert into STSSCHECKTAB
    (SZSOLDTICKETSUBID,
    SZSOLDTICKETID,
    ISALESVOUCHERDETAILSID,
    ISALESVOUCHERID,
    ITICKETSTATIONID,
    IGARDENGATEID,
    IBUSINESSID,
    ISCENICID,
    SZSCENICNAME,
    ICROWDKINDID,
    SZCROWDKINDNAME,
    ITICKETTYPEID,
    SZTICKETTYPENAME,
    IZTICKETTYPEID,
    MACTUALSALEPRICE,
    BYCHECKTYPE,
    DTLASTCHECKDATE,
    BYLASTCHECKDIR,
    BYCONSUMEMODE,
    IPASSTIMES,
    MSINGLETIMES,
    IPASSEDTIMES,
    MLIMITCONSUME,
    MSINGLECONSUME,
    MCONSUMED,
    IPARTITIONSIGN,
    IVERSION,
    DTBEGINDATE,
    DTENDDATE,
    SZWICKETSETINFO,
    BYISOUT,
    TRIPID,
    ISVALID,
    DTMAKEDATE,
    MPASSTIMES,
    MSINGLEDTIMES,
    SZTICKETPRINTNO,
    MANYOUNO,
    MYZJ,
    NAME1,
    ZJNO1,
    BYUSAGE,
    BYUSELIMIT,
    ISFRISTTIMAEYZ,
    ISFRISTACTIVE,
    VALIDITYDAY,
    ITIMEINTERVAL,
    BYREGFINGERPRINTTYPE,
    BYWICKETCONSUMETYPE,
    SZMEMO,
    ISA,
    ISB,
    ISC,
    ISD,
    ISE,
    ISF,
    ISG,
    ISH,
    ISI,
    ISJ,
    NOTEA,
    NOTEB,
    NOTEC,
    NOTED,
    NOTEE,
    NOTEF,
    NOTEG,
    NOTEH,
    NOTEI,
    NOTEJ,
    SYNCSTATUS
    )
    <foreach close=")" collection="list" item="stss" index="index" open="(" separator="union all">
      select
      #{stss.szsoldticketsubid,jdbcType=DECIMAL},
      #{stss.szsoldticketid,jdbcType=DECIMAL},
      #{stss.isalesvoucherdetailsid,jdbcType=DECIMAL},
      #{stss.isalesvoucherid,jdbcType=DECIMAL},
      #{stss.iticketstationid,jdbcType=DECIMAL},
      #{stss.igardengateid,jdbcType=DECIMAL},
      #{stss.ibusinessid,jdbcType=DECIMAL},
      #{stss.iscenicid,jdbcType=DECIMAL},
      #{stss.szscenicname,jdbcType=VARCHAR},
      #{stss.icrowdkindid,jdbcType=DECIMAL},
      #{stss.szcrowdkindname,jdbcType=VARCHAR},
      #{stss.itickettypeid,jdbcType=DECIMAL},
      #{stss.sztickettypename,jdbcType=VARCHAR},
      #{stss.iztickettypeid,jdbcType=DECIMAL},
      #{stss.mactualsaleprice,jdbcType=DECIMAL},
      #{stss.bychecktype,jdbcType=DECIMAL},
      #{stss.dtlastcheckdate,jdbcType=VARCHAR},
      #{stss.bylastcheckdir,jdbcType=DECIMAL},
      #{stss.byconsumemode,jdbcType=VARCHAR},
      #{stss.ipasstimes,jdbcType=DECIMAL},
      #{stss.msingletimes,jdbcType=DECIMAL},
      #{stss.ipassedtimes,jdbcType=DECIMAL},
      #{stss.mlimitconsume,jdbcType=DECIMAL},
      #{stss.msingleconsume,jdbcType=DECIMAL},
      #{stss.mconsumed,jdbcType=DECIMAL},
      #{stss.ipartitionsign,jdbcType=DECIMAL},
      #{stss.iversion,jdbcType=DECIMAL},
      #{stss.dtbegindate,jdbcType=VARCHAR},
      #{stss.dtenddate,jdbcType=VARCHAR},
      #{stss.szwicketsetinfo,jdbcType=VARCHAR},
      #{stss.byisout,jdbcType=DECIMAL},
      #{stss.tripid,jdbcType=DECIMAL},
      #{stss.isvalid,jdbcType=DECIMAL},
      #{stss.dtmakedate,jdbcType=VARCHAR},
      #{stss.mpasstimes,jdbcType=DECIMAL},
      #{stss.msingledtimes,jdbcType=DECIMAL},
      #{stss.szticketprintno,jdbcType=VARCHAR},
      #{stss.manyouno,jdbcType=VARCHAR},
      #{stss.myzj,jdbcType=VARCHAR},
      #{stss.name1,jdbcType=VARCHAR},
      #{stss.zjno1,jdbcType=VARCHAR},
      #{stss.byusage,jdbcType=DECIMAL},
      #{stss.byuselimit,jdbcType=DECIMAL},
      #{stss.isfristtimaeyz,jdbcType=DECIMAL},
      #{stss.isfristactive,jdbcType=DECIMAL},
      #{stss.validityday,jdbcType=DECIMAL},
      #{stss.itimeinterval,jdbcType=DECIMAL},
      #{stss.byregfingerprinttype,jdbcType=VARCHAR},
      #{stss.bywicketconsumetype,jdbcType=VARCHAR},
      #{stss.szmemo,jdbcType=VARCHAR},
      #{stss.isa,jdbcType=DECIMAL},
      #{stss.isb,jdbcType=DECIMAL},
      #{stss.isc,jdbcType=DECIMAL},
      #{stss.isd,jdbcType=DECIMAL},
      #{stss.ise,jdbcType=DECIMAL},
      #{stss.isf,jdbcType=DECIMAL},
      #{stss.isg,jdbcType=DECIMAL},
      #{stss.ish,jdbcType=DECIMAL},
      #{stss.isi,jdbcType=DECIMAL},
      #{stss.isj,jdbcType=DECIMAL},
      #{stss.notea,jdbcType=VARCHAR},
      #{stss.noteb,jdbcType=VARCHAR},
      #{stss.notec,jdbcType=VARCHAR},
      #{stss.noted,jdbcType=VARCHAR},
      #{stss.notee,jdbcType=VARCHAR},
      #{stss.notef,jdbcType=VARCHAR},
      #{stss.noteg,jdbcType=VARCHAR},
      #{stss.noteh,jdbcType=VARCHAR},
      #{stss.notei,jdbcType=VARCHAR},
      #{stss.notej,jdbcType=VARCHAR},
      #{stss.syncstatus,jdbcType=DECIMAL}
       from dual
    </foreach>
  </insert>

  <!--批量合并-->
  <insert id="batchMerge" parameterType="List" useGeneratedKeys="false">
    merge into STSSCHECKTAB a
    using
    <foreach close=")" collection="list" item="stss" index="index" open="(" separator="union all">
      select
      #{stss.szsoldticketsubid,jdbcType=DECIMAL} as szsoldticketsubid,
      #{stss.szsoldticketid,jdbcType=DECIMAL} as szsoldticketid,
      #{stss.isalesvoucherdetailsid,jdbcType=DECIMAL} as isalesvoucherdetailsid,
      #{stss.isalesvoucherid,jdbcType=DECIMAL} as isalesvoucherid,
      #{stss.iticketstationid,jdbcType=DECIMAL} as iticketstationid,
      #{stss.igardengateid,jdbcType=DECIMAL} as igardengateid,
      #{stss.ibusinessid,jdbcType=DECIMAL} as ibusinessid,
      #{stss.iscenicid,jdbcType=DECIMAL} as iscenicid,
      #{stss.szscenicname,jdbcType=VARCHAR} as szscenicname,
      #{stss.icrowdkindid,jdbcType=DECIMAL} as icrowdkindid,
      #{stss.szcrowdkindname,jdbcType=VARCHAR} as szcrowdkindname,
      #{stss.itickettypeid,jdbcType=DECIMAL} as itickettypeid,
      #{stss.sztickettypename,jdbcType=VARCHAR} as sztickettypename,
      #{stss.iztickettypeid,jdbcType=DECIMAL} as iztickettypeid,
      #{stss.mactualsaleprice,jdbcType=DECIMAL} as mactualsaleprice,
      #{stss.bychecktype,jdbcType=DECIMAL} as bychecktype,
      #{stss.dtlastcheckdate,jdbcType=VARCHAR} as dtlastcheckdate,
      #{stss.bylastcheckdir,jdbcType=DECIMAL} as bylastcheckdir,
      #{stss.byconsumemode,jdbcType=VARCHAR} as byconsumemode,
      #{stss.ipasstimes,jdbcType=DECIMAL} as ipasstimes,
      #{stss.msingletimes,jdbcType=DECIMAL} as msingletimes,
      #{stss.ipassedtimes,jdbcType=DECIMAL} as ipassedtimes,
      #{stss.mlimitconsume,jdbcType=DECIMAL} as mlimitconsume,
      #{stss.msingleconsume,jdbcType=DECIMAL} as msingleconsume,
      #{stss.mconsumed,jdbcType=DECIMAL} as mconsumed,
      #{stss.ipartitionsign,jdbcType=DECIMAL} as ipartitionsign,
      #{stss.iversion,jdbcType=DECIMAL} as iversion,
      #{stss.dtbegindate,jdbcType=VARCHAR} as dtbegindate,
      #{stss.dtenddate,jdbcType=VARCHAR} as dtenddate,
      #{stss.szwicketsetinfo,jdbcType=VARCHAR} as szwicketsetinfo,
      #{stss.byisout,jdbcType=DECIMAL} as byisout,
      #{stss.tripid,jdbcType=DECIMAL} as tripid,
      #{stss.isvalid,jdbcType=DECIMAL} as isvalid,
      #{stss.dtmakedate,jdbcType=VARCHAR} as dtmakedate,
      #{stss.mpasstimes,jdbcType=DECIMAL} as mpasstimes,
      #{stss.msingledtimes,jdbcType=DECIMAL} as msingledtimes,
      #{stss.szticketprintno,jdbcType=VARCHAR} as szticketprintno,
      #{stss.manyouno,jdbcType=VARCHAR} as manyouno,
      #{stss.myzj,jdbcType=VARCHAR} as myzj,
      #{stss.name1,jdbcType=VARCHAR} as name1,
      #{stss.zjno1,jdbcType=VARCHAR} as zjno1,
      #{stss.byusage,jdbcType=DECIMAL} as byusage,
      #{stss.byuselimit,jdbcType=DECIMAL} as byuselimit,
      #{stss.isfristtimaeyz,jdbcType=DECIMAL} as isfristtimaeyz,
      #{stss.isfristactive,jdbcType=DECIMAL} as isfristactive,
      #{stss.validityday,jdbcType=DECIMAL} as validityday,
      #{stss.itimeinterval,jdbcType=DECIMAL} as itimeinterval,
      #{stss.byregfingerprinttype,jdbcType=VARCHAR} as byregfingerprinttype,
      #{stss.bywicketconsumetype,jdbcType=VARCHAR} as bywicketconsumetype,
      #{stss.szmemo,jdbcType=VARCHAR} as szmemo,
      #{stss.isa,jdbcType=DECIMAL} as isa,
      #{stss.isb,jdbcType=DECIMAL} as isb,
      #{stss.isc,jdbcType=DECIMAL} as isc,
      #{stss.isd,jdbcType=DECIMAL} as isd,
      #{stss.ise,jdbcType=DECIMAL} as ise,
      #{stss.isf,jdbcType=DECIMAL} as isf,
      #{stss.isg,jdbcType=DECIMAL} as isg,
      #{stss.ish,jdbcType=DECIMAL} as ish,
      #{stss.isi,jdbcType=DECIMAL} as isi,
      #{stss.isj,jdbcType=DECIMAL} as isj,
      #{stss.notea,jdbcType=VARCHAR} as notea,
      #{stss.noteb,jdbcType=VARCHAR} as noteb,
      #{stss.notec,jdbcType=VARCHAR} as notec,
      #{stss.noted,jdbcType=VARCHAR} as noted,
      #{stss.notee,jdbcType=VARCHAR} as notee,
      #{stss.notef,jdbcType=VARCHAR} as notef,
      #{stss.noteg,jdbcType=VARCHAR} as noteg,
      #{stss.noteh,jdbcType=VARCHAR} as noteh,
      #{stss.notei,jdbcType=VARCHAR} as notei,
      #{stss.notej,jdbcType=VARCHAR} as notej,
      #{stss.syncstatus,jdbcType=DECIMAL} as syncstatus
      from dual
    </foreach>
     b
  on ( a.szsoldticketsubid=b.szsoldticketsubid
      and a.szsoldticketid=b.szsoldticketid
      and a.isalesvoucherdetailsid=b.isalesvoucherdetailsid
      and a.isalesvoucherid=b.isalesvoucherid
      and a.iticketstationid=b.iticketstationid
    )
    when matched
        then update set
                a.IGARDENGATEID=b.igardengateid,
                a.IBUSINESSID=b.ibusinessid,
                a.ISCENICID=b.iscenicid,
                a.SZSCENICNAME=b.szscenicname,
                a.ICROWDKINDID=b.icrowdkindid,
                a.SZCROWDKINDNAME=b.szcrowdkindname,
                a.ITICKETTYPEID=b.itickettypeid,
                a.SZTICKETTYPENAME=b.sztickettypename,
                a.IZTICKETTYPEID=b.iztickettypeid,
                a.MACTUALSALEPRICE=b.mactualsaleprice,
                a.BYCHECKTYPE=b.bychecktype,
                a.DTLASTCHECKDATE=b.dtlastcheckdate,
                a.BYLASTCHECKDIR=b.bylastcheckdir,
                a.BYCONSUMEMODE=b.byconsumemode,
                a.IPASSTIMES=b.ipasstimes,
                a.MSINGLETIMES=b.MSINGLETIMES,
                a.IPASSEDTIMES=b.ipassedtimes,
                a.MLIMITCONSUME=b.mlimitconsume,
                a.MSINGLECONSUME=b.msingleconsume,
                a.MCONSUMED=b.mconsumed,
                a.IPARTITIONSIGN=b.ipartitionsign,
                a.IVERSION=b.iversion,
                a.DTBEGINDATE=b.dtbegindate,
                a.DTENDDATE=b.dtenddate,
                a.SZWICKETSETINFO=b.szwicketsetinfo,
                a.BYISOUT=b.byisout,
                a.TRIPID=b.tripid,
                a.ISVALID=b.isvalid,
                a.DTMAKEDATE=b.dtmakedate,
                a.MPASSTIMES=b.mpasstimes,
                a.MSINGLEDTIMES=b.MSINGLEDTIMES,
                a.SZTICKETPRINTNO=b.szticketprintno,
                a.MANYOUNO=b.manyouno,
                a.MYZJ=b.myzj,
                a.NAME1=b.name1,
                a.ZJNO1=b.zjno1,
                a.BYUSAGE=b.byusage,
                a.BYUSELIMIT=b.byuselimit,
                a.ISFRISTTIMAEYZ=b.isfristtimaeyz,
                a.ISFRISTACTIVE=b.isfristactive,
                a.VALIDITYDAY=b.validityday,
                a.ITIMEINTERVAL=b.itimeinterval,
                a.BYREGFINGERPRINTTYPE=b.byregfingerprinttype,
                a.BYWICKETCONSUMETYPE=b.bywicketconsumetype,
                a.SZMEMO=b.szmemo,
                a.ISA=b.isa,
                a.ISB=b.isb,
                a.ISC=b.isc,
                a.ISD=b.isd,
                a.ISE=b.ise,
                a.ISF=b.isf,
                a.ISG=b.isg,
                a.ISH=b.ish,
                a.ISI=b.isi,
                a.ISJ=b.isj,
                a.NOTEA=b.notea,
                a.NOTEB=b.noteb,
                a.NOTEC=b.notec,
                a.NOTED=b.noted,
                a.NOTEE=b.notee,
                a.NOTEF=b.notef,
                a.NOTEG=b.noteg,
                a.NOTEH=b.noteh,
                a.NOTEI=b.notei,
                a.NOTEJ=b.notej,
                a.SYNCSTATUS=b.syncstatus
    when not matched
        then
          insert
            (a.SZSOLDTICKETSUBID,
            a.SZSOLDTICKETID,
            a.ISALESVOUCHERDETAILSID,
            a.ISALESVOUCHERID,
            a.ITICKETSTATIONID,
            a.IGARDENGATEID,
            a.IBUSINESSID,
            a.ISCENICID,
            a.SZSCENICNAME,
            a.ICROWDKINDID,
            a.SZCROWDKINDNAME,
            a.ITICKETTYPEID,
            a.SZTICKETTYPENAME,
            a.IZTICKETTYPEID,
            a.MACTUALSALEPRICE,
            a.BYCHECKTYPE,
            a.DTLASTCHECKDATE,
            a.BYLASTCHECKDIR,
            a.BYCONSUMEMODE,
            a.IPASSTIMES,
            a.MSINGLETIMES,
            a.IPASSEDTIMES,
            a.MLIMITCONSUME,
            a.MSINGLECONSUME,
            a.MCONSUMED,
            a.IPARTITIONSIGN,
            a.IVERSION,
            a.DTBEGINDATE,
            a.DTENDDATE,
            a.SZWICKETSETINFO,
            a.BYISOUT,
            a.TRIPID,
            a.ISVALID,
            a.DTMAKEDATE,
            a.MPASSTIMES,
            a.MSINGLEDTIMES,
            a.SZTICKETPRINTNO,
            a.MANYOUNO,
            a.MYZJ,
            a.NAME1,
            a.ZJNO1,
            a.BYUSAGE,
            a.BYUSELIMIT,
            a.ISFRISTTIMAEYZ,
            a.ISFRISTACTIVE,
            a.VALIDITYDAY,
            a.ITIMEINTERVAL,
            a.BYREGFINGERPRINTTYPE,
            a.BYWICKETCONSUMETYPE,
            a.SZMEMO,
            a.ISA,
            a.ISB,
            a.ISC,
            a.ISD,
            a.ISE,
            a.ISF,
            a.ISG,
            a.ISH,
            a.ISI,
            a.ISJ,
            a.NOTEA,
            a.NOTEB,
            a.NOTEC,
            a.NOTED,
            a.NOTEE,
            a.NOTEF,
            a.NOTEG,
            a.NOTEH,
            a.NOTEI,
            a.NOTEJ,
            a.SYNCSTATUS)
          values
            (b.szsoldticketsubid,
              b.szsoldticketid,
              b.isalesvoucherdetailsid,
              b.isalesvoucherid,
              b.iticketstationid,
              b.igardengateid,
              b.ibusinessid,
              b.iscenicid,
              b.szscenicname,
              b.icrowdkindid,
              b.szcrowdkindname,
              b.itickettypeid,
              b.sztickettypename,
              b.iztickettypeid,
              b.mactualsaleprice,
              b.bychecktype,
              b.dtlastcheckdate,
              b.bylastcheckdir,
              b.byconsumemode,
              b.ipasstimes,
              b.msingletimes,
              b.ipassedtimes,
              b.mlimitconsume,
              b.msingleconsume,
              b.mconsumed,
              b.ipartitionsign,
              b.iversion,
              b.dtbegindate,
              b.dtenddate,
              b.szwicketsetinfo,
              b.byisout,
              b.tripid,
              b.isvalid,
              b.dtmakedate,
              b.mpasstimes,
              b.msingledtimes,
              b.szticketprintno,
              b.manyouno,
              b.myzj,
              b.name1,
              b.zjno1,
              b.byusage,
              b.byuselimit,
              b.isfristtimaeyz,
              b.isfristactive,
              b.validityday,
              b.itimeinterval,
              b.byregfingerprinttype,
              b.bywicketconsumetype,
              b.szmemo,
              b.isa,
              b.isb,
              b.isc,
              b.isd,
              b.ise,
              b.isf,
              b.isg,
              b.ish,
              b.isi,
              b.isj,
              b.notea,
              b.noteb,
              b.notec,
              b.noted,
              b.notee,
              b.notef,
              b.noteg,
              b.noteh,
              b.notei,
              b.notej,
              b.syncstatus)
  </insert>
</mapper>